.home_container {
  margin: auto;
  padding-top: 50px;
  display: flex;
}

.card_container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  background-color: #ffffff;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 50px;
}
