<div class="container">
  <div class="items">
    <div class="logo">
      <img src="assets/ps-logo2.png" alt="logo" srcset="" />
    </div>
    <div class="links">
      <ul>
        <li><a href="#">Latest</a></li>
        <li><a href="#">Collections</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">PS5</a></li>
        <li><a href="#">Subscriptions</a></li>
        <li><a href="#">Browse</a></li>
      </ul>
    </div>
  </div>
  <div class="search">
    <input type="text" placeholder="Search" />
  </div>
</div>
