.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 40px;
  width: 100%;
  padding: 0 30px 0 30px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.items {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  width: 30px;
  height: 30px;
}

.items > .links > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 10px;
}

.items > .links > ul > li {
  padding: 5px;
}

.items > .links > ul > li > a {
  padding: 5px;
  text-decoration: none;
  color: black;
  font-family: "Segoe UI";
}

.items > .links > ul > li > a:hover {
  color: blue;
  font-weight: bold;
}

.search {
  margin-left: 10px;
}

.search > input {
  padding: 4px;
  padding-left: 28px;
  border-radius: 8px;
  border: none;
  background-color: #f4f7fa;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  color: #91969b;
  font-family: "Segoe UI";
  font-weight: 400;
  background-image: url("../../../../assets/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 10px 0.4rem;
}
